@page
@model Retailer.POS.Web.Pages.Items.CreateModel
@{
    ViewData["Title"] = "Create Item";
}

<h2>Create Item</h2>

<form method="post">
    <div>
        <label>Name</label>
        <input asp-for="Input.Name" class="form-control" />
    </div>
    <div>
        <label>Barcode</label>
        <input asp-for="Input.Barcode" class="form-control" />
    </div>
    <div>
        <label>Rate</label>
        <input asp-for="Input.Rate" class="form-control" />
    </div>
    <div>
        <label>Cost</label>
        <input asp-for="Input.Cost" class="form-control" />
    </div>
    <div>
        <label>Category</label>
        <select asp-for="Input.CategoryId" asp-items="Model.Categories" class="form-control"></select>
    </div>
      <div>
        <label>Type</label>
        <select asp-for="Input.ItemTypeId" asp-items="Model.ItemType" class="form-control"></select>
    </div>
    <div>
        <label>Group</label>
        <select asp-for="Input.GroupId" asp-items="Model.Groups" class="form-control"></select>
    </div>
    <div>
        <label>SubGroup</label>
        <select asp-for="Input.SubGroupId" asp-items="Model.SubGroups" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
