@page "{id:int}"
@model Retailer.POS.Web.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Edit Employee";
}

<h2>Edit Employee</h2>

<form method="post">
    <input type="hidden" asp-for="Employee.Id" />
    <div class="row">
        <div class="col-md-4">
            <label>First Name</label>
            <input asp-for="Employee.FirstName" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Last Name</label>
            <input asp-for="Employee.LastName" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>City</label>
            <input asp-for="Employee.City" class="form-control" />
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-4">
            <label>Province</label>
            <input asp-for="Employee.Province" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>Mobile 1</label>
            <input asp-for="Employee.Mobile1" class="form-control" />
        </div>
        <div class="col-md-4">
            <label>CNIC</label>
            <input asp-for="Employee.CNIC" class="form-control" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Update</button>
    <a asp-page="Index" class="btn btn-secondary mt-3">Cancel</a>
</form>
