@page "{id:int}"
@model Retailer.POS.Web.Pages.Categories.DetailsModel

<h2>Category Details</h2>

<p><strong>Id:</strong> @Model.Category.Id</p>
<p><strong>Name:</strong> @Model.Category.Name</p>

<a asp-page="Index" class="btn btn-secondary">Back</a>
