@page
@model Retailer.POS.Web.Pages.Vendors.IndexModel
<h2>Vendors</h2>
<table>
<thead><tr><th>Name</th><th>Mobile</th></tr></thead>
<tbody>
@foreach(var it in Model.Items) {
<tr><td>@it.Name</td><td>@it.Mobile</td></tr>
}
</tbody>
</table>
